@import url("https://fonts.googleapis.com/css?family=Allura|Italianno");

@font-face {
    font-family: "Antro_Vectra";
    src:
        url("../fonts/Antro_Vectra.otf");
}

html {
    box-sizing: border-box;
    line-height: 1.15;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

*,
*:before,
*:after {
    box-sizing: inherit;


}

body {
    margin: 0;
    // display: flex;
    // min-height: 100vh;
    // flex-direction: column;
}

a {
    text-decoration: none;
}



@import "components/navbar";
@import "components/headernav.scss";
@import "components/top";
@import "components/message";
@import "components/interview-sub";
@import "components/culture";
@import "components/recruit";
@import "components/interview-list";
@import "components/footer";