.recruit-section-content {
  position: relative;

  .recruit-section-content-background {
    background-image: url("../images/pc/recruit-bg.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    padding: 60px 100px 250px 100px;
    width: 100%;
    height: auto;

    .section-content-title {
      p {
        font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
        text-align: center;
        color: white;

        &.recruit-title-1 {
          font-size: 30px;
          font-weight: 600;
        }

        &.recruit-title-2 {
          margin-top: -20px;
        }
      }
    }
  }

  .section-recruit-bg-white {
    position: absolute;
    right: 0px;
    top: 50%;
    width: 70%;

    .bg-white-content {
      background-color: white;
      height: 300px;
      padding: 20px 20px 20px 50px;

      .bg-white-content-info-entry {
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .content-info {
          flex-basis: 50%;
          flex-grow: 0;
          flex-shrink: 0;
          text-align: center;

          .info-title {
            p {
              font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
              color: #51c5d0;
              font-size: 18px;
              font-weight: 600;
            }
          }

          .info-title-content {
            margin-left: 70px;
            margin-right: 100px;

            .content-bg {
              background-image: url("../images/pc/recruit-info.png");
              background-repeat: no-repeat;
              -webkit-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
              -moz-background-size: cover;
              padding: 35px 35px 35px 35px;
              width: 100%;
              height: 120px;

              .white-border {
                border: 1px solid white;
                width: 100%;
                height: 100%;

                .white-border-text {
                  p {
                    font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                    color: white;

                    i {
                      padding-right: 10px;
                    }

                    span {
                      letter-spacing: 1px;
                    }
                  }
                }
              }
            }
          }
        }

        .content-entry {
          flex-basis: 50%;
          flex-grow: 0;
          flex-shrink: 0;

          .entry-title {
            p {
              font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
              padding-left: 25%;
              color: #51c5d0;
              font-size: 18px;
              font-weight: 600;
            }
          }

          .entry-title-content {
            .content-bg {
              background-color: white;
              border: 2px solid #51c5d0;
              width: 60%;
              height: 120px;
              padding: 30px 20px 20px 20px;
              text-align: center;

              .content-bg-body {
                .text-1 {
                  img {
                    width: 60%;
                    height: auto;
                  }
                }

                .text-2 {
                  p {
                    font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                    color: black;
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.about-us-section-content {
  margin-top: 90px;
  margin-bottom: 50px;

  .about-us-section-content {
    padding: 0px 30px 0px 30px;

    .about-us-section-bg {
      background-image: url("../images/pc/about-us-bg.png");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      -moz-background-size: cover;
      padding: 40px 40px 40px 40px;
      width: 100%;
      height: 300px;

      .about-us-border {
        border: 1px solid #51c5d0;
        padding: 25px 20px 60px 20px;
        text-align: center;

        .about-us-border-title {
          p {
            font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

            &.title-1 {
              color: #51c5d0;
              font-size: 45px;
              font-weight: 600;
              letter-spacing: 2px;
            }

            &.title-2 {
              font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
              margin-top: -50px;
              color: white;
              font-size: 12px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.footer-content {
  .footer-bg {
    background-color: #24b1c4;
    width: 100%;
    height: 400px;
    padding-top: 70px;

    .container {
      .footer-menu {
        .footer-flex-menu {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          font-weight: 550;

          .menu-gap {
            flex-basis: 4%;

            a {
              font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

              font-size: 13px;
              color: white;
            }
          }

          .menu-1 {

            flex-grow: 0;
            flex-shrink: 0;
            text-align: center;

            a {
              font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
              width: 50px;
              font-size: 13px;
              color: white;
            }
          }

          .menu-2 {

            flex-grow: 0;
            flex-shrink: 0;
            text-align: center;

            a {
              font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
              width: 50px;
              font-size: 13px;
              color: white;
            }
          }

          .menu-3 {

            flex-grow: 0;
            flex-shrink: 0;
            text-align: center;

            a {
              font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
              width: 50px;
              font-size: 13px;
              color: white;
            }
          }

          .menu-4 {

            flex-grow: 0;
            flex-shrink: 0;
            text-align: center;

            a {
              font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
              width: 50px;
              font-size: 13px;
              color: white;
            }
          }

          .menu-5 {

            flex-grow: 0;
            flex-shrink: 0;
            text-align: center;

            a {
              font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
              width: 50px;
              font-size: 13px;
              color: white;
            }
          }

          .menu-6 {

            a {
              font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
              width: 50px;
              font-size: 13px;
              color: white;
            }
          }

          .menu-7 {
            flex-basis: 40%;
            flex-grow: 0;
            flex-shrink: 0;
            padding-top: 10%;
            padding-left: 4%;

            a {
              font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
              font-size: 13px;
              color: white;
            }
          }

          .menu-8 {
            text-align: right;
            padding-right: 7%;
            padding-top: 10%;
            flex-basis: 40%;
            flex-grow: 0;
            flex-shrink: 0;

            a {
              font-weight: 500;
              font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
              font-size: 13px;
              color: white;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1750px) and (max-width: 2000px) {
  .recruit-section-content {
    position: relative;

    .recruit-section-content-background {
      background-image: url("../images/pc/recruit-bg.png");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      -moz-background-size: cover;
      padding: 60px 100px 250px 100px;
      width: 100%;
      height: auto;

      .section-content-title {
        p {
          font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
          text-align: center;
          color: white;

          &.recruit-title-1 {
            font-size: 45px;
            font-weight: 600;
          }

          &.recruit-title-2 {
            margin-top: -20px;
          }
        }
      }
    }

    .section-recruit-bg-white {
      position: absolute;
      right: 0px;
      top: 65%;
      width: 70%;

      .bg-white-content {
        background-color: white;
        height: 400px;
        padding: 20px 20px 20px 50px;

        .bg-white-content-info-entry {
          padding-top: 50px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .content-info {
            flex-basis: 50%;
            flex-grow: 0;
            flex-shrink: 0;
            text-align: center;

            .info-title {
              p {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                color: #51c5d0;
                font-size: 30px;
                font-weight: 600;
              }
            }

            .info-title-content {
              margin-left: 70px;
              margin-right: 100px;

              .content-bg {
                background-image: url("../images/pc/recruit-info.png");
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                -moz-background-size: cover;
                padding: 55px 55px 55px 55px;
                width: 100%;
                height: 200px;

                .white-border {
                  border: 1px solid white;
                  width: 100%;
                  height: 100%;
                  padding: 0px 20px 20px 20px;

                  .white-border-text {
                    p {
                      font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                      color: white;
                      font-size: 30px;

                      i {
                        padding-right: 10px;
                      }

                      span {
                        letter-spacing: 1px;
                      }
                    }
                  }
                }
              }
            }
          }

          .content-entry {
            flex-basis: 50%;
            flex-grow: 0;
            flex-shrink: 0;

            .entry-title {
              p {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                padding-left: 25%;
                color: #51c5d0;
                font-size: 30px;
                font-weight: 600;
              }
            }

            .entry-title-content {
              .content-bg {
                background-color: white;
                border: 5px solid #51c5d0;
                width: 60%;
                height: 200px;
                padding: 60px 20px 20px 20px;
                text-align: center;

                .content-bg-body {
                  .text-1 {
                    img {
                      width: 60%;
                      height: auto;
                    }
                  }

                  .text-2 {
                    padding-top: 10px;

                    p {
                      font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                      color: black;
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .about-us-section-content {
    margin-top: 320px;
    margin-bottom: 50px;

    .about-us-section-content {
      padding: 0px 30px 0px 30px;

      .about-us-section-bg {
        background-image: url("../images/pc/about-us-bg.png");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -moz-background-size: cover;
        padding: 40px 40px 40px 40px;
        width: 100%;
        height: 350px;

        .about-us-border {
          border: 1px solid #51c5d0;
          padding: 25px 20px 60px 20px;
          text-align: center;

          .about-us-border-title {
            p {
              font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

              &.title-1 {
                color: #51c5d0;
                font-size: 60px;
                font-weight: 600;
                letter-spacing: 2px;
              }

              &.title-2 {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                margin-top: -50px;
                color: white;
                font-size: 12px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  .footer-content {
    .footer-bg {
      background-color: #24b1c4;
      width: 100%;
      height: 550px;
      padding-top: 150px;


      .container {
        .footer-menu {
          .footer-flex-menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            font-weight: 550;

            .menu-gap {
              flex-basis: 5%;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                font-size: 13px;
                color: white;
              }
            }

            .menu-1 {
              flex-grow: 0;
              flex-shrink: 0;
              text-align: center;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 17px;
                color: white;
              }
            }

            .menu-2 {
              flex-grow: 0;
              flex-shrink: 0;
              text-align: center;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 17px;
                color: white;
              }
            }

            .menu-3 {

              flex-grow: 0;
              flex-shrink: 0;
              text-align: center;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 17px;
                color: white;
              }
            }

            .menu-4 {

              flex-grow: 0;
              flex-shrink: 0;
              text-align: center;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 17px;
                color: white;
              }
            }

            .menu-5 {

              flex-grow: 0;
              flex-shrink: 0;
              text-align: center;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 17px;
                color: white;
              }
            }

            .menu-6 {

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 17px;
                color: white;
              }
            }

            .menu-7 {
              flex-basis: 48%;
              flex-grow: 0;
              flex-shrink: 0;
              padding-top: 10%;
              padding-left: 4%;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                font-size: 17px;
                color: white;
              }
            }

            .menu-8 {
              text-align: right;
              padding-right: 8%;
              padding-top: 10%;
              flex-basis: 40%;
              flex-grow: 0;
              flex-shrink: 0;

              a {
                font-weight: 500;
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                font-size: 17px;
                color: white;
              }
            }
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 1025px) and (max-width: 1285px) {
  .footer-content {
    .footer-bg {
      background-color: #24b1c4;
      width: 100%;
      height: 400px;
      padding-top: 70px;

      .container {
        .footer-menu {
          .footer-flex-menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            font-weight: 550;

            .menu-gap {
              flex-basis: 4%;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

                font-size: 13px;
                color: white;
              }
            }

            .menu-1 {

              flex-grow: 0;
              flex-shrink: 0;
              text-align: center;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 13px;
                color: white;
              }
            }

            .menu-2 {

              flex-grow: 0;
              flex-shrink: 0;
              text-align: center;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 13px;
                color: white;
              }
            }

            .menu-3 {

              flex-grow: 0;
              flex-shrink: 0;
              text-align: center;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 13px;
                color: white;
              }
            }

            .menu-4 {

              flex-grow: 0;
              flex-shrink: 0;
              text-align: center;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 13px;
                color: white;
              }
            }

            .menu-5 {

              flex-grow: 0;
              flex-shrink: 0;
              text-align: center;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 13px;
                color: white;
              }
            }

            .menu-6 {

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 13px;
                color: white;
              }
            }

            .menu-7 {
              flex-basis: 45%;
              flex-grow: 0;
              flex-shrink: 0;
              padding-top: 10%;
              padding-left: 4%;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                font-size: 13px;
                color: white;
              }
            }

            .menu-8 {
              text-align: right;
              padding-right: 6%;
              padding-top: 10%;
              flex-basis: 40%;
              flex-grow: 0;
              flex-shrink: 0;

              a {
                font-weight: 500;
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                font-size: 13px;
                color: white;
              }
            }
          }
        }
      }
    }
  }


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .recruit-section-content {
    position: relative;

    .recruit-section-content-background {
      background-image: url("../images/pc/recruit-bg.png");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      -moz-background-size: cover;
      padding: 10px 100px 250px 100px;
      width: 100%;
      height: auto;

      .section-content-title {
        p {
          font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
          text-align: center;
          color: white;

          &.recruit-title-1 {
            font-size: 30px;
            font-weight: 600;
          }

          &.recruit-title-2 {
            margin-top: -20px;
          }
        }
      }
    }

    .section-recruit-bg-white {
      position: absolute;
      right: 0px;
      top: 50%;
      width: 80%;

      .bg-white-content {
        background-color: white;
        height: 250px;
        padding: 0px 20px 20px 50px;

        .bg-white-content-info-entry {
          padding-top: 30px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .content-info {
            flex-basis: 50%;
            flex-grow: 0;
            flex-shrink: 0;
            text-align: center;

            .info-title {
              p {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                color: #51c5d0;
                font-size: 18px;
                font-weight: 600;
              }
            }

            .info-title-content {
              margin-left: 20px;
              margin-right: 30px;

              .content-bg {
                background-image: url("../images/pc/recruit-info.png");
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                -moz-background-size: cover;
                padding: 35px 35px 35px 35px;
                width: 100%;
                height: 120px;

                .white-border {
                  border: 1px solid white;
                  width: 100%;
                  height: 100%;

                  .white-border-text {
                    p {
                      font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                      color: white;

                      i {
                        padding-right: 10px;
                      }

                      span {
                        letter-spacing: 1px;
                      }
                    }
                  }
                }
              }
            }
          }

          .content-entry {
            flex-basis: 50%;
            flex-grow: 0;
            flex-shrink: 0;

            .entry-title {
              p {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                padding-left: 25%;
                color: #51c5d0;
                font-size: 18px;
                font-weight: 600;
              }
            }

            .entry-title-content {
              .content-bg {
                background-color: white;
                border: 2px solid #51c5d0;
                width: 85%;
                height: 120px;
                padding: 30px 20px 20px 20px;
                text-align: center;

                .content-bg-body {
                  .text-1 {
                    img {
                      width: 60%;
                      height: auto;
                    }
                  }

                  .text-2 {
                    p {
                      font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                      color: black;
                      font-size: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .about-us-section-content {
    margin-top: 90px;
    margin-bottom: 50px;

    .about-us-section-content {
      padding: 0px 30px 0px 30px;

      .about-us-section-bg {
        background-image: url("../images/pc/about-us-bg.png");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -moz-background-size: cover;
        padding: 40px 40px 40px 40px;
        width: 100%;
        height: 300px;

        .about-us-border {
          border: 1px solid #51c5d0;
          padding: 25px 20px 60px 20px;
          text-align: center;

          .about-us-border-title {
            p {
              font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

              &.title-1 {
                color: #51c5d0;
                font-size: 45px;
                font-weight: 600;
                letter-spacing: 2px;
              }

              &.title-2 {
                margin-top: -50px;
                color: white;
                font-size: 12px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }

  .footer-content {
    .footer-bg {
      background-color: #24b1c4;
      width: 100%;
      height: 400px;
      padding-top: 70px;

      .container {
        .footer-menu {
          .footer-flex-menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            font-weight: 550;

            .menu-gap {
              flex-basis: 4%;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

                font-size: 13px;
                color: white;
              }
            }

            .menu-1 {

              flex-grow: 0;
              flex-shrink: 0;
              text-align: center;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 13px;
                color: white;
              }
            }

            .menu-2 {

              flex-grow: 0;
              flex-shrink: 0;
              text-align: center;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 13px;
                color: white;
              }
            }

            .menu-3 {

              flex-grow: 0;
              flex-shrink: 0;
              text-align: center;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 13px;
                color: white;
              }
            }

            .menu-4 {

              flex-grow: 0;
              flex-shrink: 0;
              text-align: center;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 13px;
                color: white;
              }
            }

            .menu-5 {

              flex-grow: 0;
              flex-shrink: 0;
              text-align: center;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 13px;
                color: white;
              }
            }

            .menu-6 {

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 50px;
                font-size: 13px;
                color: white;
              }
            }

            .menu-7 {
              flex-basis: 50%;
              flex-grow: 0;
              flex-shrink: 0;
              padding-top: 10%;
              padding-left: 4%;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                font-size: 13px;
                color: white;
              }
            }

            .menu-8 {
              text-align: right;
              padding-right: 7%;
              padding-top: 10%;
              flex-basis: 50%;
              flex-grow: 0;
              flex-shrink: 0;

              a {
                font-weight: 500;
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                font-size: 11px;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {


  //FOOTER

  .recruit-section-content {
    position: relative;

    .recruit-section-content-background {
      background-image: url("../images/pc/recruit-bg.png");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      -moz-background-size: cover;
      padding: 40px 10px 40px 10px;
      width: 100%;
      height: auto;

      .section-content-title {
        p {
          font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
          text-align: center;
          color: white;

          &.recruit-title-1 {
            font-size: 25px;
            font-weight: 600;
          }

          &.recruit-title-2 {
            margin-top: -20px;
          }
        }
      }
    }

    .section-recruit-bg-white {
      position: absolute;
      right: 0px;
      top: 70%;
      width: 100%;

      .bg-white-content {
        background-color: transparent;
        height: 300px;
        padding: 10px 10px 10px 10px;

        .bg-white-content-info-entry {
          padding-top: 50px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .content-info {
            flex-basis: 100%;
            flex-grow: 0;
            flex-shrink: 0;
            text-align: center;

            .info-title {
              p {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                color: #51c5d0;
                font-size: 20px;
                font-weight: 600;
              }
            }

            .info-title-content {
              margin-left: 40px;
              margin-right: 40px;

              .content-bg {
                background-image: url("../images/pc/recruit-info.png");
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                -moz-background-size: cover;
                padding: 35px 35px 35px 35px;
                width: 100%;
                height: 120px;

                .white-border {
                  border: 1px solid white;
                  width: 100%;
                  height: 100%;

                  .white-border-text {
                    p {
                      font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                      color: white;

                      i {
                        padding-right: 10px;
                      }

                      span {
                        letter-spacing: 1px;
                      }
                    }
                  }
                }
              }
            }
          }

          .content-entry {
            flex-basis: 100%;
            flex-grow: 0;
            flex-shrink: 0;

            .entry-title {
              p {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                padding-left: 0%;
                text-align: center;
                color: #51c5d0;
                font-size: 18px;
                font-weight: 600;
              }
            }

            .entry-title-content {
              margin-left: 40px;
              margin-right: 40px;

              .content-bg {
                background-color: white;
                border: 2px solid #51c5d0;
                width: 100%;
                height: 120px;
                padding: 30px 20px 20px 20px;
                text-align: center;

                .content-bg-body {
                  .text-1 {
                    img {
                      width: 60%;
                      height: auto;
                    }
                  }

                  .text-2 {
                    p {
                      font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                      color: black;
                      font-size: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .about-us-section-content {
    margin-top: 450px;
    margin-bottom: 50px;

    .about-us-section-content {
      padding: 0px 0px 0px 0px;

      .about-us-section-bg {
        background-image: url("../images/pc/about-us-bg.png");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -moz-background-size: cover;
        padding: 10px 10px 10px 10px;
        width: 100%;
        height: 220px;

        .about-us-border {
          border: 1px solid #51c5d0;
          padding: 25px 20px 60px 20px;
          text-align: center;

          .about-us-border-title {
            p {
              font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

              &.title-1 {
                color: #51c5d0;
                font-size: 35px;
                font-weight: 600;
                letter-spacing: 2px;
              }

              &.title-2 {
                margin-top: -40px;
                color: white;
                font-size: 12px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  .footer-content {
    .footer-bg {
      background-color: #24b1c4;
      width: 100%;
      height: auto;
      padding: 20px 20px 20px 20px;

      .container {
        .footer-menu {
          .footer-flex-menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;

            .menu-gap {
              width: 10px;
              height: 8px;
              flex-basis: 0%;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                font-size: 13px;
                color: white;
              }
            }

            .menu-0 {
              flex-basis: 100%;
              flex-grow: 0;
              flex-shrink: 0;
              text-align: left;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                font-weight: 550;
                width: 100%;
                font-size: 17px;
                color: white;
              }
            }

            .menu-1 {
              padding-top: 10px;
              flex-basis: 100%;
              flex-grow: 0;
              flex-shrink: 0;
              text-align: left;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 100%;
                font-size: 13px;
                color: white;
              }
            }

            .menu-2 {
              padding-top: 25px;
              flex-basis: 100%;
              flex-grow: 0;
              flex-shrink: 0;
              text-align: left;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 100%;
                font-size: 13px;
                color: white;
              }
            }

            .menu-3 {
              padding-top: 7px;
              flex-basis: 100%;
              flex-grow: 0;
              flex-shrink: 0;
              text-align: left;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 100%;
                font-size: 13px;
                color: white;
              }
            }

            .menu-4 {
              padding-top: 7px;
              flex-basis: 100%;
              flex-grow: 0;
              flex-shrink: 0;
              text-align: left;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 100%;
                font-size: 13px;
                color: white;
              }
            }

            .menu-5 {
              padding-top: 7px;
              flex-basis: 100%;
              flex-grow: 0;
              flex-shrink: 0;
              text-align: left;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 100%;
                font-size: 13px;
                color: white;
              }
            }

            .menu-6 {
              padding-top: 7px;
              flex-basis: 100%;
              flex-grow: 0;
              flex-shrink: 0;
              text-align: left;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 100%;
                font-size: 13px;
                color: white;
              }
            }

            .menu-7 {
              padding-top: 7px;
              flex-basis: 100%;
              flex-grow: 0;
              flex-shrink: 0;
              text-align: left;
              padding-top: 7%;
              padding-left: 0%;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                width: 100%;
                color: white;
              }
            }

            .menu-8 {
              text-align: center;
              padding-right: 0%;
              padding-top: 5%;
              flex-basis: 100%;
              flex-grow: 0;
              flex-shrink: 0;
              font-weight: 100;

              a {
                font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                font-size: 9px;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}