.nav-header-content {
	position: relative;

	.nav-header-logo {

		padding-left: 20px;
		padding-top: 15px;

		a {
			text-decoration: none;

			img {
				width: 10%;
			}
		}
	}

	.nav-header-bg {
		padding: 10px 65px 0px 65px;

		.top-header-bg-content {
			position: relative;

			.header-image-bg {
				&.top-image {
					background-image: url("../images/pc/top-header.png");
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 0;
					padding-top: 44.81%;
					position: relative;

				}

				&.message-image {
					background-image: url("../images/pc/message-image1.png");
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 0;
					padding-top: 30.50%;
					position: relative;

				}

				&.interview-list-image {
					background-image: url("../images/pc/header-interview-bg.png");
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 0;
					padding-top: 30.45%;
					position: relative;
				}

				&.culture-image {
					background-image: url("../images/pc/culture/culture-header.png");
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 0;
					padding-top: 30.45%;
					position: relative;
				}

				&.recruit-image {
					background-image: url("../images/pc/recruit/recruit-header-bg.png");
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 0;
					padding-top: 33.81%;
					position: relative;
				}
			}

			.header-bg-content-text {
				position: absolute;
				top: 8%;
				left: 5%;

				p {

					font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

					&.title-1 {
						span {
							&.first-letter {
								color: #24b1c4;
								opacity: 0.7;
								font-weight: 900;
								font-size: 8em;
							}

							&.second-letter {
								color: rgba(255, 255, 255, 0.596);
								font-weight: 900;
								font-size: 6em;
							}

							&.third-letter {
								color: rgba(255, 255, 255, 0.596);
								font-weight: 100;
								font-size: 50px;
							}
						}
					}

					&.title-2 {
						margin-top: -50px;

						span {
							&.first-letter {
								color: #24b1c4;
								opacity: 0.7;
								font-weight: 900;
								font-size: 8em;
							}

							&.second-letter {
								color: rgba(255, 255, 255, 0.596);
								font-weight: 900;
								font-size: 6em;
							}
						}
					}

					&.title-3 {
						margin-top: -50px;

						span {
							&.first-letter {
								color: #24b1c4;
								opacity: 0.7;
								font-weight: 900;
								font-size: 8em;
							}

							&.second-letter {
								color: rgba(255, 255, 255, 0.596);
								font-weight: 900;
								font-size: 6em;
							}
						}
					}

					&.under-text {
						margin-top: -22px;
						color: #24b1c4;
						font-size: 1.5em;
					}
				}

			}

			.message-text {
				position: absolute;
				bottom: 9%;
				left: 5%;

				.message-header-bg-content-text {
					p {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
						color: rgba(255, 255, 255, 0.596);
						font-weight: 900;
						font-size: 90px;
					}
				}

				.message-header-bg-content-text2 {
					margin-top: -110px;

					p {
						color: #51c5d0;
						font-size: 20px;
					}
				}

			}



			.interview-header-bg-content {
				position: absolute;
				bottom: 9%;
				left: 5%;

				.interview-header-bg-content-text {
					p {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
						color: #24b1c4;
						opacity: 0.7;
						font-weight: 900;
						font-size: 80px;
					}
				}

				.interview-header-bg-content-text2 {
					margin-top: -90px;

					p {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
						color: white;
						font-size: 23px;
					}
				}
			}

			.recruit-header-bg-content {
				position: absolute;
				bottom: 9%;
				left: 5%;

				.recruit-header-bg-content-text {
					p {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
						color: white;
						opacity: 0.7;
						font-weight: 900;
						font-size: 80px;
					}
				}

				.recruit-header-bg-content-text2 {
					margin-top: -90px;

					p {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
						color: #24b1c4;
						font-size: 23px;
					}
				}
			}

			.nav-header-bg-content-text2 {
				position: absolute;
				bottom: 20%;
				top: 5%;


				p {
					color: #51c5d0;
					font-size: 19px;
				}
			}
		}
	}

	.nav-header-gray-background {
		position: absolute;
		right: 0px;
		top: -15px;
		z-index: -999;

		.nav-triangle {
			width: 0;
			height: 0;
			border-top: 500px solid #eee;
			border-left: 900px solid transparent;
		}
	}

	.nav-header-button-nav {
		z-index: 10;

		&.pc-menu {
			display: block;
		}

		&.sp-menu {
			display: none;
		}

		position: fixed;
		right: 0px;
		top: -15px;
		z-index: 999;

		.nav-menu-button {
			background-color: #51c5d0;
			height: 130px;
			width: 130px;
			padding: 50px 20px 20px 40px;
			cursor: pointer;

			#image-menu-btn {
				display: block;
			}

			#close-menu-btn {
				display: none;

			}


			img {
				width: 70%;
			}

			i {
				color: white;
				font-size: 40px;
				font-weight: 100;
			}
		}
	}

	.nav-header-button-entry {
		position: fixed;
		right: 0px;
		top: 115px;
		z-index: 999;

		&#entrybutton {
			display: block;
		}

		.nav-entry-button {
			background-color: white;
			height: 130px;
			width: 130px;
			padding: 20px 20px 20px 30px;

			img {
				padding-left: 10px;
				text-align: center;
				width: 70%;
			}

			i {
				color: #51c5d0;
				font-size: 35px;
				font-weight: 100;
			}

			p {
				text-align: center;
				font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
				color: #51c5d0;
				line-height: 0.5px;
				font-size: 17px;
				font-weight: 600;
			}

		}
	}


	.interview-sub-header-bg {
		padding: 0px 55px 0px 300px;

		.interview-sub-header-bg-content {
			&.sub-1 {
				background-image: url("../images/pc/interview-sub/interview-sub-header.png");
				background-size: contain;
				background-repeat: no-repeat;
				width: 100%;
				height: 0;
				padding-top: 57.09%;
				position: relative;
			}

			&.sub-2 {
				background-image: url("../images/pc/interview-sub2/1.jpg");
				background-size: contain;
				background-repeat: no-repeat;
				width: 100%;
				height: 0;
				padding-top: 57.16%;
				position: relative;
			}

			&.sub-3 {
				background-image: url("../images/pc/interview-sub3/1.jpg");
				background-size: contain;
				background-repeat: no-repeat;
				width: 100%;
				height: 0;
				padding-top: 57.16%;
				position: relative;

			}

			&.sub-4 {
				background-image: url("../images/pc/interview-sub4/1.jpg");
				background-size: contain;
				background-repeat: no-repeat;
				width: 100%;
				height: 0;
				padding-top: 57.16%;
				position: relative;

			}

			&.sub-5 {
				background-image: url("../images/pc/interview-sub5/1.jpg");
				background-size: contain;
				background-repeat: no-repeat;
				width: 100%;
				height: 0;
				padding-top: 57.16%;
				position: relative;

			}

			&.sub-6 {
				background-image: url("../images/pc/interview-sub6/1.jpg");
				background-size: contain;
				background-repeat: no-repeat;
				width: 100%;
				height: 0;
				padding-top: 57.16%;
				position: relative;

			}

			&.sub-7 {
				background-image: url("../images/pc/interview-sub7/1.jpg");
				background-size: contain;
				background-repeat: no-repeat;
				width: 100%;
				height: 0;
				padding-top: 57.16%;
				position: relative;

			}

			&.sub-8 {
				background-image: url("../images/pc/interview-sub8/1.jpg");
				background-size: contain;
				background-repeat: no-repeat;
				width: 100%;
				height: 0;
				padding-top: 57.16%;
				position: relative;

			}

			&.sub-9 {
				background-image: url("../images/pc/interview-sub9/1.jpg");
				background-size: contain;
				background-repeat: no-repeat;
				width: 100%;
				height: 0;
				padding-top: 57.16%;
				position: relative;

			}

			&.sub-10 {
				background-image: url("../images/pc/interview-sub10/1.jpg");
				background-size: contain;
				background-repeat: no-repeat;
				width: 100%;
				height: 0;
				padding-top: 57.16%;
				position: relative;

			}

			&.sub-11 {
				background-image: url("../images/pc/interview-sub11/1.jpg");
				background-size: contain;
				background-repeat: no-repeat;
				width: 100%;
				height: 0;
				padding-top: 57.16%;
				position: relative;

			}

			&.sub-12 {
				background-image: url("../images/pc/interview-sub12/1.jpg");
				background-size: contain;
				background-repeat: no-repeat;
				width: 100%;
				height: 0;
				padding-top: 57.16%;
				position: relative;

			}
		}
	}

	.interview-sub-header-message {
		position: absolute;
		left: 10%;
		bottom: -10%;
		z-index: 999;

		.interview-sub-header-message-content {
			.header-message-bg {
				width: 45%;
				background-color: rgba(255, 255, 255, 0.87);
				padding: 30px 40px 40px 45px;

				.header-message-text {
					p {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

						&.text-1 {
							font-size: 12px;
						}

						&.text-2 {
							font-size: 12px;
						}

						&.text-3 {
							span {
								color: #24b1c4;
								font-size: 25px;
								font-weight: 550;

								&.span-1 {
									padding-left: 10px;
									font-size: 16px;
									font-weight: 100;
								}
							}
						}

						&.text-4 {
							font-size: 10px;
						}

						&.text-5 {
							font-size: 10px;
						}

						&.text-6 {
							font-size: 10px;
						}
					}
				}

				.header-message-content-text {
					font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

					.title-text {
						p {
							margin: 0;

							&.date {
								font-size: 12px;
								line-height: 25px;
							}

							&.description {
								font-size: 12px;
								line-height: 25px;
								padding-top: 5px;
							}

							&.name {
								padding-top: 5px;

								span {
									color: #24b1c4;
									font-size: 25px;
									font-weight: 550;

									&.span-1 {
										padding-left: 10px;
										font-size: 16px;
										font-weight: 100;
									}
								}
							}
						}
					}

					.text-body-content {
						p {
							margin: 0;
							line-height: 25px;
							font-size: 10px;
						}
					}
				}
			}
		}
	}

	.nav-header-text-left {
		position: fixed;
		left: -69px;
		bottom: 40%;
		z-index: 999;


		a {
			.nav-header-text-left-content {
				position: fixed;
				-ms-transform: rotate(90deg);
				/* IE 9 */
				-webkit-transform: rotate(90deg);
				/* Safari 3-8 */
				transform: rotate(90deg);
				display: flex;
				flex-direction: row;

				.nav-line {
					padding-top: 20px;
					width: 70px;
					height: 18px;
					border-bottom: 1px solid rgba(0, 0, 0, 0.432);
				}

				.nav-text-left {
					padding-left: 15px;

					p {
						color: rgba(0, 0, 0, 0.425);
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
						font-size: 13px;
					}
				}
			}
		}
	}

	.nav-header-text-left {
		position: absolute;
	}
}

@media only screen and (min-width: 1750px) and (max-width: 2000px) {
	.nav-header-content {
		position: relative;

		.nav-header-logo {
			padding-left: 20px;
			padding-top: 15px;

			a {
				img {
					width: 10%;
				}

			}
		}

		.nav-header-bg {
			padding: 0px 75px 0px 75px;

			.top-header-bg-content {
				position: relative;

				.header-image-bg {
					&.top-image {
						background-image: url("../images/pc/top-header.png");
						background-size: contain;
						background-repeat: no-repeat;
						width: 100%;
						height: 0;
						padding-top: 44.81%;
						position: relative;

					}
				}

				.header-bg-content-text {
					p {

						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

						&.title-1 {
							span {
								&.first-letter {
									color: #24b1c4;
									opacity: 0.7;
									font-weight: 900;
									font-size: 9em;
								}

								&.second-letter {
									color: rgba(255, 255, 255, 0.596);
									font-weight: 900;
									font-size: 8em;
								}

								&.third-letter {
									color: rgba(255, 255, 255, 0.596);
									font-weight: 100;
									font-size: 6em;
								}
							}
						}

						&.title-2 {
							margin-top: -50px;

							span {
								&.first-letter {
									color: #24b1c4;
									opacity: 0.7;
									font-weight: 900;
									font-size: 9em;
								}

								&.second-letter {
									color: rgba(255, 255, 255, 0.596);
									font-weight: 900;
									font-size: 8em;
								}
							}
						}

						&.title-3 {
							margin-top: -50px;

							span {
								&.first-letter {
									color: #24b1c4;
									opacity: 0.7;
									font-weight: 900;
									font-size: 9em;
								}

								&.second-letter {
									color: rgba(255, 255, 255, 0.596);
									font-weight: 900;
									font-size: 8em;
								}
							}
						}

						&.under-text {
							margin-top: -22px;
							color: #24b1c4;
							font-size: 2em;
						}
					}
				}

				.message-text {
					position: absolute;
					bottom: 9%;
					left: 5%;

					.message-header-bg-content-text {
						p {
							font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
							color: rgba(255, 255, 255, 0.596);
							font-weight: 900;
							font-size: 6vw;
						}
					}

					.message-header-bg-content-text2 {
						margin-top: -100px;

						p {
							color: #51c5d0;
							font-size: 30px;
						}
					}

				}

				.interview-header-bg-content {
					.interview-header-bg-content-text {
						p {
							font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
							color: #24b1c4;
							font-weight: 900;
							opacity: .7;
							font-size: 6vw;
						}
					}

					.interview-header-bg-content-text2 {
						margin-top: -130px;

						p {
							font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
							color: white;
							font-size: 22px;
						}
					}
				}


				.nav-header-bg-content-text2 {
					position: absolute;
					bottom: 20%;
					top: 5%;


					p {
						color: #51c5d0;
						font-size: 19px;
					}
				}
			}


		}

		.nav-header-gray-background {
			position: absolute;
			right: 0px;
			top: -15px;
			z-index: -999;

			.nav-triangle {
				width: 0;
				height: 0;
				border-top: 600px solid #eee;
				border-left: 1250px solid transparent;
			}
		}

		.nav-header-button-nav {
			position: fixed;
			right: 0px;
			top: -15px;

			.nav-menu-button {
				background-color: #51c5d0;
				height: 160px;
				width: 160px;
				padding: 50px 10px 20px 40px;

				img {
					width: 70%;
				}

				i {
					color: white;
					font-size: 40px;
					font-weight: 100;
				}
			}
		}

		.nav-header-button-entry {
			position: fixed;
			right: 0px;
			top: 140px;

			.nav-entry-button {
				background-color: white;
				height: 160px;
				width: 160px;
				padding: 20px 15px 20px 29px;

				img {
					padding-left: 10px;
					text-align: center;
					width: 70%;
				}

				i {
					color: #51c5d0;
					font-size: 35px;
					font-weight: 100;
				}

				p {
					text-align: center;
					font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
					color: #51c5d0;
					line-height: 0.5px;
					font-size: 22px;
					font-weight: 600;
					margin-left: -10px;
				}
			}
		}

		.interview-sub-header-message {
			position: absolute;
			left: 10%;
			bottom: -10%;
			z-index: 999;

			.interview-sub-header-message-content {
				.header-message-bg {
					background-color: rgba(255, 255, 255, 0.87);
					padding: 40px 60px 60px 65px;

					.header-message-text {
						p {
							font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

							&.text-1 {
								font-size: 18px;
							}

							&.text-2 {
								font-size: 18px;
							}

							&.text-3 {
								span {
									color: #24b1c4;
									font-size: 35px;
									font-weight: 550;


									&.span-1 {
										padding-left: 30px;
										font-size: 25px;
										font-weight: 100;
									}
								}
							}

							&.text-4 {
								font-size: 14px;
							}

							&.text-5 {
								font-size: 14px;
							}

							&.text-6 {
								font-size: 14px;
							}
						}
					}


					.header-message-content-text {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

						.title-text {
							p {
								margin: 0;

								&.date {
									font-size: 18px;
									line-height: 25px;
								}

								&.description {
									font-size: 18px;
									line-height: 25px;
									padding-top: 5px;
								}

								&.name {
									padding-top: 5px;

									span {
										color: #24b1c4;
										font-size: 35px;
										font-weight: 550;

										&.span-1 {
											padding-left: 10px;
											font-size: 25px;
											font-weight: 100;
										}
									}
								}
							}
						}

						.text-body-content {
							padding-top: 10px;

							p {
								margin: 0;
								line-height: 30px;
								font-size: 14px;
							}
						}
					}
				}
			}
		}

		.nav-header-text-left {
			position: absolute;
			left: -60px;
			bottom: 40%;

			.top-header-text-left-content {
				-ms-transform: rotate(90deg);
				/* IE 9 */
				-webkit-transform: rotate(90deg);
				/* Safari 3-8 */
				transform: rotate(90deg);
				display: flex;
				flex-direction: row;
				justify-content: center;
				justify-items: center;

				.nav-line {
					padding-top: 25px;
					width: 90px;
					height: 18px;
					border-bottom: 1px solid rgba(0, 0, 0, 0.37);
				}

				.nav-text-left {
					padding-left: 15px;

					p {
						letter-spacing: 3px;
						color: rgba(0, 0, 0, 0.432);
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
						font-size: 30px;
					}
				}
			}
		}

	}
}

@media only screen and (max-width: 1285px) {
	.nav-header-content {
		position: relative;

		.nav-header-logo {
			padding-left: 20px;
			padding-top: 15px;

			a {
				img {
					width: 10%;
				}

			}
		}

		.nav-header-bg {
			padding: 0px 60px 0px 60px;

			.top-header-bg-content {
				position: relative;

				.header-image-bg {
					&.top-image {
						background-image: url("../images/pc/top-header.png");
						background-size: contain;
						background-repeat: no-repeat;
						width: 100%;
						height: 0;
						padding-top: 44.81%;
						position: relative;

					}
				}

				.header-bg-content-text {
					padding-top: 20px;

					p {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

						&.title-1 {
							span {
								&.first-letter {
									color: #24b1c4;
									opacity: 0.7;
									font-weight: 900;
									font-size: 80px;
								}

								&.second-letter {
									color: rgba(255, 255, 255, 0.596);
									font-weight: 900;
									font-size: 70px;
								}

								&.third-letter {
									color: rgba(255, 255, 255, 0.596);
									font-weight: 100;
									font-size: 50px;
								}
							}
						}

						&.title-2 {
							margin-top: -50px;

							span {
								&.first-letter {
									color: #24b1c4;
									opacity: 0.7;
									font-weight: 900;
									font-size: 80px;
								}

								&.second-letter {
									color: rgba(255, 255, 255, 0.596);
									font-weight: 900;
									font-size: 70px;
								}
							}
						}

						&.title-3 {
							margin-top: -50px;

							span {
								&.first-letter {
									color: #24b1c4;
									opacity: 0.7;
									font-weight: 900;
									font-size: 80px;
								}

								&.second-letter {
									color: rgba(255, 255, 255, 0.596);
									font-weight: 900;
									font-size: 70px;
								}
							}
						}
					}
				}

				.interview-header-bg-content {

					.interview-header-bg-content-text {
						p {
							font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
							color: #24b1c4;
							opacity: 0.7;
							font-weight: 900;
							font-size: 70px;
						}
					}

					.interview-header-bg-content-text2 {
						margin-top: -80px;

						p {
							font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
							color: white;
							font-size: 19px;
						}
					}
				}

				.nav-header-bg-content-text2 {
					margin-top: -30px;

					p {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
						color: #51c5d0;
						font-size: 19px;
					}
				}
			}
		}

		.nav-header-gray-background {
			position: absolute;
			right: 0px;
			top: -15px;
			z-index: -999;

			.nav-triangle {
				width: 0;
				height: 0;
				border-top: 500px solid #eee;
				border-left: 800px solid transparent;
			}
		}

		.nav-header-button-nav {
			position: fixed;
			right: 0px;
			top: -15px;

			.nav-menu-button {
				background-color: #51c5d0;
				height: 110px;
				width: 110px;
				padding: 40px 20px 20px 30px;

				img {
					width: 70%;

				}

				i {
					color: white;
					font-size: 25px;
					font-weight: 100;
				}
			}
		}

		.nav-header-button-entry {
			position: fixed;
			right: 0px;
			top: 90px;

			.nav-entry-button {
				background-color: white;
				height: 110px;
				width: 110px;
				padding: 20px 20px 20px 25px;

				i {
					color: #51c5d0;
					font-size: 25px;
					font-weight: 100;
				}

				p {
					font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
					color: #51c5d0;
					line-height: 0.5px;
					font-size: 15px;
				}
			}
		}

		.nav-header-text-left {
			position: absolute;
			left: -70px;
			bottom: 45%;

			.nav-header-text-left-content {
				-ms-transform: rotate(90deg);
				/* IE 9 */
				-webkit-transform: rotate(90deg);
				/* Safari 3-8 */
				transform: rotate(90deg);
				display: flex;
				flex-direction: row;

				.nav-line {
					width: 70px;
					height: 18px;
					border-bottom: 1px solid black;
				}

				.nav-text-left {
					padding-left: 15px;

					p {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
						font-size: 10px;
					}
				}
			}
		}

		.nav-header-text-left {
			position: absolute;
		}
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.nav-header-content {
		position: relative;

		.nav-header-logo {
			padding-left: 20px;
			padding-top: 15px;

			a {
				img {
					width: 10%;
				}

			}
		}

		.top-header-bg {
			padding: 0px 55px 0px 55px;

			.top-header-bg-content {
				position: relative;

				.header-image-bg {
					&.top-image {
						background-image: url("../images/pc/top-header.png");
						background-size: contain;
						background-repeat: no-repeat;
						width: 100%;
						height: 0;
						padding-top: 44.81%;
						position: relative;

					}
				}

				.header-bg-content-text {
					position: absolute;
					top: 3%;
					left: 2%;

					p {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
						margin-left: 40px;
						margin-top: -30px;

						&.title-1 {
							span {
								&.first-letter {
									color: #24b1c4;
									opacity: 0.7;
									font-weight: 900;
									font-size: 60px;
								}

								&.second-letter {
									margin-top: -30px;
									color: rgba(255, 255, 255, 0.596);
									font-weight: 900;
									font-size: 50px;
								}

								&.third-letter {
									margin-top: -30px;
									color: rgba(255, 255, 255, 0.596);
									font-weight: 100;
									font-size: 30px;
								}
							}
						}

						&.title-2 {
							margin-top: -50px;

							span {
								&.first-letter {
									color: #24b1c4;
									opacity: 0.7;
									font-weight: 900;
									font-size: 60px;
								}

								&.second-letter {
									margin-top: -30px;
									color: rgba(255, 255, 255, 0.596);
									font-weight: 900;
									font-size: 50px;
								}
							}
						}

						&.title-3 {
							margin-top: -50px;

							span {
								&.first-letter {
									color: #24b1c4;
									opacity: 0.7;
									font-weight: 900;
									font-size: 60px;
								}

								&.second-letter {
									margin-top: -30px;
									color: rgba(255, 255, 255, 0.596);
									font-weight: 900;
									font-size: 50px;
								}
							}
						}

						&.under-text {
							margin-top: -22px;
							color: #24b1c4;
							font-size: 1em;
						}
					}
				}

				.interview-header-bg-content {
					.interview-header-bg-content-text {
						p {
							font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
							color: #24b1c4;
							opacity: 0.7;
							font-weight: 900;
							font-size: 60px;
						}
					}

					.interview-header-bg-content-text2 {
						margin-top: -80px;

						p {
							font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
							color: white;
							font-size: 19px;
						}
					}
				}

				.nav-header-bg-content-text2 {
					margin-top: -30px;
					padding-left: 30px;

					p {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
						color: #51c5d0;
						font-size: 10px;
					}
				}
			}
		}

		.nav-header-gray-background {
			position: absolute;
			right: 0px;
			top: -15px;
			z-index: -999;

			.nav-triangle {
				width: 0;
				height: 0;
				border-top: 350px solid #eee;
				border-left: 500px solid transparent;
			}
		}

		.nav-header-button-nav {
			position: fixed;
			right: 0px;
			top: -15px;

			.nav-menu-button {
				background-color: #51c5d0;
				height: 80px;
				width: 80px;
				padding: 30px 20px 20px 25px;

				img {
					width: 100%;
				}

				i {
					color: white;
					font-size: 25px;
					font-weight: 100;
				}
			}
		}

		.nav-header-button-entry {
			position: fixed;
			right: 0px;
			top: 65px;

			.nav-entry-button {
				background-color: white;
				height: 80px;
				width: 80px;
				padding: 15px 20px 20px 20px;

				img {
					margin-left: -5px;
					width: 100%;
				}

				i {
					color: #51c5d0;
					font-size: 22px;
					font-weight: 100;
				}

				p {
					text-align: center;
					margin-left: -5px;
					font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
					color: #51c5d0;
					line-height: 0.5px;
					font-size: 10px;
				}
			}
		}

		.interview-sub-header-message {
			position: absolute;
			left: 10%;
			bottom: -20%;
			z-index: 999;

			.interview-sub-header-message-content {
				.header-message-bg {
					background-color: rgba(255, 255, 255, 0.87);
					padding: 30px 40px 40px 45px;
					width: 50%;
					height: auto;

					.header-message-text {
						p {
							font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

							&.text-1 {
								font-size: 10px;
							}

							&.text-2 {
								font-size: 10px;
							}

							&.text-3 {
								span {
									color: #24b1c4;
									font-size: 25px;

									&.span-1 {
										padding-left: 10px;
										font-size: 14px;
										font-weight: 100;
									}
								}
							}

							&.text-4 {
								font-size: 8px;
							}

							&.text-5 {
								font-size: 8px;
							}

							&.text-6 {
								font-size: 8px;
							}
						}
					}


					.header-message-content-text {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

						.title-text {
							p {
								margin: 0;

								&.date {
									font-size: 10px;
									line-height: 25px;
								}

								&.description {
									font-size: 10px;
									line-height: 25px;
									padding-top: 5px;
								}

								&.name {
									padding-top: 5px;

									span {
										color: #24b1c4;
										font-size: 25px;
										font-weight: 550;

										&.span-1 {
											padding-left: 10px;
											font-size: 14px;
											font-weight: 100;
										}
									}
								}
							}
						}

						.text-body-content {
							p {
								margin: 0;
								line-height: 25px;
								font-size: 8px;
							}
						}
					}
				}
			}
		}

		.nav-header-text-left {
			position: absolute;
			left: -69px;
			bottom: 45%;

			.nav-header-text-left-content {
				-ms-transform: rotate(90deg);
				/* IE 9 */
				-webkit-transform: rotate(90deg);
				/* Safari 3-8 */
				transform: rotate(90deg);
				display: flex;
				flex-direction: row;

				.nav-line {
					width: 70px;
					height: 18px;
					border-bottom: 1px solid rgba(0, 0, 0, 0.547);
				}

				.nav-text-left {
					padding-left: 15px;

					p {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
						font-size: 10px;
					}
				}
			}
		}

		.nav-header-text-left {
			position: absolute;
		}
	}
}

@media only screen and (min-width: 601px) and (max-width: 780px) {
	.nav-header-content {
		position: relative;

		.interview-sub-header-message {
			position: absolute;
			left: 10%;
			bottom: -20%;
			z-index: 999;

			.interview-sub-header-message-content {
				.header-message-bg {
					background-color: rgba(255, 255, 255, 0.87);
					padding: 10px 40px 10px 45px;
					width: 50%;
					height: auto;

					.header-message-text {
						p {
							font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

							&.text-1 {
								font-size: 10px;
							}

							&.text-2 {
								font-size: 10px;
							}

							&.text-3 {
								span {
									color: #24b1c4;
									font-size: 23px;

									&.span-1 {
										padding-left: 10px;
										font-size: 14px;
										font-weight: 100;
									}
								}
							}

							&.text-4 {
								font-size: 8px;
							}

							&.text-5 {
								font-size: 8px;
							}

							&.text-6 {
								font-size: 8px;
							}
						}
					}

					.header-message-content-text {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

						.title-text {
							p {
								margin: 0;

								&.date {
									font-size: 10px;
									line-height: 25px;
								}

								&.description {
									font-size: 10px;
									line-height: 25px;
									padding-top: 5px;
								}

								&.name {
									padding-top: 5px;

									span {
										color: #24b1c4;
										font-size: 23px;
										font-weight: 550;

										&.span-1 {
											padding-left: 10px;
											font-size: 14px;
											font-weight: 100;
										}
									}
								}
							}
						}

						.text-body-content {
							p {
								margin: 0;
								line-height: 25px;
								font-size: 8px;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	.nav-header-content {
		position: relative;

		.nav-header-logo {
			padding-left: 10px;
			padding-top: 5px;

			a {
				img {
					width: 25%;
				}

			}
		}

		.nav-header-bg {
			padding: 0px 15px 0px 15px;

			.top-header-bg-content {
				position: relative;

				.header-image-bg {
					&.top-image {
						background-image: url("../images/sp/top/top-header.png");
						background-size: contain;
						background-repeat: no-repeat;
						width: 100%;
						height: 0;
						padding-top: 172.72%;
						position: relative;
					}

					&.message-image {
						background-image: url("../images/sp/message/4.png");
						background-size: contain;
						background-repeat: no-repeat;
						width: 100%;
						height: 0;
						padding-top: 54.13%;
						position: relative;

					}

					&.interview-list-image {
						background-image: url("../images/sp/interview/interview-header.png");
						background-size: contain;
						background-repeat: no-repeat;
						width: 100%;
						height: 0;
						padding-top: 54.03%;
						position: relative;
					}

					&.culture-image {
						background-image: url("../images/sp/culture/header-image.png");
						background-size: contain;
						background-repeat: no-repeat;
						width: 100%;
						height: 0;
						padding-top: 54.08%;
						position: relative;
					}

					&.recruit-image {
						background-image: url("../images/pc/recruit/recruit-header-bg-sp.png");
						background-size: contain;
						background-repeat: no-repeat;
						width: 100%;
						height: 0;
						padding-top: 54.08%;
						position: relative;
					}
				}

				.header-bg-content-text {
					position: absolute;
					top: 13%;
					left: 5%;

					p {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

						&.title-1 {
							span {
								&.first-letter {
									color: #24b1c4;
									opacity: 0.7;
									font-weight: 900;
									font-size: 80px;
								}

								&.second-letter {
									color: rgba(255, 255, 255, 0.596);
									font-weight: 900;
									font-size: 67px;
								}

								&.third-letter {
									color: rgba(255, 255, 255, 0.596);
									font-weight: 100;
									font-size: 50px;
								}
							}
						}

						&.title-2 {
							margin-top: -30px;

							span {
								&.first-letter {
									color: #24b1c4;
									opacity: 0.7;
									font-weight: 900;
									font-size: 80px;
								}

								&.second-letter {
									color: rgba(255, 255, 255, 0.596);
									font-weight: 900;
									font-size: 67px;
								}
							}
						}

						&.title-3 {
							margin-top: -30px;

							span {
								&.first-letter {
									color: #24b1c4;
									opacity: 0.7;
									font-weight: 900;
									font-size: 80px;
								}

								&.second-letter {
									color: rgba(255, 255, 255, 0.596);
									font-weight: 900;
									font-size: 67px;
								}
							}
						}

						&.under-text {
							margin-top: 10px;
						}
					}
				}

				.message-text {
					.message-header-bg-content-text {
						p {
							font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
							color: rgba(255, 255, 255, 0.596);
							font-weight: 900;
							font-size: 50px;
						}
					}

					.message-header-bg-content-text2 {
						margin-top: -60px;

						p {
							font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
							color: #51c5d0;
							font-size: 15px;
						}
					}
				}

				.interview-header-bg-content {
					.interview-header-bg-content-text {
						p {
							font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
							color: #24b1c4;
							opacity: 0.7;
							font-weight: 900;
							font-size: 50px;
						}
					}

					.interview-header-bg-content-text2 {
						margin-top: -60px;

						p {
							font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
							color: white;
							font-size: 15px;
						}
					}
				}

				.recruit-header-bg-content {
					.recruit-header-bg-content-text {
						p {
							font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
							color: white;
							opacity: 0.7;
							font-weight: 900;
							font-size: 50px;
						}
					}

					.recruit-header-bg-content-text2 {
						margin-top: -60px;

						p {
							font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
							color: #24b1c4;
							font-size: 15px;
						}
					}
				}

				s .nav-header-bg-content-text2 {
					margin-top: -30px;

					p {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
						color: #51c5d0;
						font-size: 19px;
					}
				}
			}
		}

		.nav-header-gray-background {
			position: absolute;
			right: 0px;
			top: -15px;
			z-index: -999;

			.nav-triangle {
				width: 0;
				height: 0;
				border-top: 350px solid #eee;
				border-left: 250px solid transparent;
			}
		}

		.nav-header-button-nav {
			position: fixed;
			right: 0px;
			top: -5px;

			&.pc-menu {
				display: none;
			}

			&.sp-menu {
				display: block;
			}

			.nav-menu-button {
				background-color: #51c5d0;
				height: 60px;
				width: 60px;
				padding: 20px 15px 15px 15px;

				#image-menu-btn-sp {
					display: block;
				}

				#close-menu-btn-sp {
					display: none;

				}

				img {
					width: 90%;
				}


				i {
					color: white;
					font-size: 25px;
					font-weight: 100;
				}
			}
		}

		.nav-header-button-entry {
			position: fixed;
			right: 0px;
			top: 55px;


			.nav-entry-button {
				background-color: white;
				height: 60px;
				width: 60px;
				padding: 5px 5px 5px 2px;


				img {
					width: 90%;
				}

				i {
					color: #51c5d0;
					font-size: 20px;
					font-weight: 100;
				}

				p {
					padding-left: 2px;
					font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
					color: #51c5d0;
					margin: 0px;
					font-size: 10px;
				}
			}
		}

		.interview-sub-header-bg {
			padding: 0px 0px 0px 40px;

			.interview-sub-header-bg-content {
				&.sub-1 {
					background-image: url("../images/sp/interview-sub/interview-header-sp.png");
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 0;
					padding-top: 153.09%;
					position: relative;
				}

				&.sub-2 {
					background-image: url("../images/sp/interview-sub2/1.jpg");
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 0;
					padding-top: 153.09%;
					position: relative;
				}

				&.sub-3 {
					background-image: url("../images/sp/interview-sub3/1.jpg");
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 0;
					padding-top: 153.09%;
					position: relative;
				}

				&.sub-4 {
					background-image: url("../images/sp/interview-sub4/1.jpg");
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 0;
					padding-top: 153.09%;
					position: relative;
				}

				&.sub-5 {
					background-image: url("../images/sp/interview-sub5/1.jpg");
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 0;
					padding-top: 153.09%;
					position: relative;
				}

				&.sub-6 {
					background-image: url("../images/sp/interview-sub6/1.jpg");
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 0;
					padding-top: 153.09%;
					position: relative;
				}

				&.sub-7 {
					background-image: url("../images/sp/interview-sub7/1.jpg");
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 0;
					padding-top: 153.09%;
					position: relative;
				}

				&.sub-8 {
					background-image: url("../images/sp/interview-sub8/1.jpg");
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 0;
					padding-top: 153.09%;
					position: relative;
				}

				&.sub-9 {
					background-image: url("../images/sp/interview-sub9/1.jpg");
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 0;
					padding-top: 153.09%;
					position: relative;
				}

				&.sub-10 {
					background-image: url("../images/sp/interview-sub10/1.jpg");
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 0;
					padding-top: 153.09%;
					position: relative;
				}

				&.sub-11 {
					background-image: url("../images/sp/interview-sub11/1.jpg");
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 0;
					padding-top: 153.09%;
					position: relative;
				}

				&.sub-12 {
					background-image: url("../images/sp/interview-sub12/1.jpg");
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 0;
					padding-top: 153.09%;
					position: relative;
				}


			}
		}

		.interview-sub-header-message {
			position: absolute;
			top: 80%;
			left: 2%;
			z-index: 10;

			.interview-sub-header-message-content {
				padding-right: 30px;

				.header-message-bg {
					width: 100%;
					background-color: rgba(255, 255, 255, 0.87);
					padding: 10px 20px 40px 20px;

					.header-message-text {
						p {
							font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

							&.text-1 {
								font-size: 12px;
							}

							&.text-2 {
								margin-top: -10px;
								font-size: 12px;
							}

							&.text-3 {
								span {
									font-weight: 550;
									color: #24b1c4;
									font-size: 22px;

									&.span-1 {
										padding-left: 10px;
										font-size: 14px;
										font-weight: 100;
									}
								}
							}

							&.text-4 {
								font-size: 11px;
							}

							&.text-5 {
								font-size: 8px;
							}

							&.text-6 {
								font-size: 8px;
							}
						}
					}

					.header-message-content-text {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;


						.title-text {
							p {
								margin: 0;

								&.date {
									font-size: 12px;
									line-height: 25px;
								}

								&.description {
									font-size: 12px;
									line-height: 25px;
									padding-top: 0px;
								}

								&.name {
									padding-top: 5px;

									span {
										color: #24b1c4;
										font-size: 22px;
										font-weight: 550;

										&.span-1 {
											padding-left: 10px;
											font-size: 14px;
											font-weight: 100;
										}
									}
								}
							}
						}

						.text-body-content {
							p {
								margin: 0;
								line-height: 17px;
								font-size: 11px;
							}
						}
					}
				}
			}
		}

		.nav-header-text-left {
			visibility: hidden;
			position: absolute;
			left: -59px;
			bottom: 40%;

			.nav-header-text-left-content {
				-ms-transform: rotate(90deg);
				/* IE 9 */
				-webkit-transform: rotate(90deg);
				/* Safari 3-8 */
				transform: rotate(90deg);
				display: flex;
				flex-direction: row;

				.nav-line {
					width: 70px;
					height: 18px;
					border-bottom: 1px solid black;
				}

				.nav-text-left {
					padding-left: 15px;

					p {
						font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
						font-size: 10px;
					}
				}
			}
		}

		.nav-header-text-left {
			position: absolute;
		}
	}
}