#myNav {
    display: block;
}

#myNavSp {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #24b1c4;
    opacity: 1;
    overflow-y: auto;
    will-change: transform;
    transition: 0.5s;

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;

        .menu-fix {
            visibility: visible !important;
        }
    }

    a {
        font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
        padding: 8px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        display: block;
        transition: 0.3s;

        &:hover {
            color: #f1f1f1;
            text-shadow: 0 0 3px white;
        }

        :focus {
            color: #f1f1f1;
        }
    }

    .closebtn {
        position: absolute;
        font-size: 73px;
        top: -1%;
        right: 4%;
    }
}



@media (max-width: 600px) {
    #myNav {
        display: none;
    }

    #myNavSp {
        display: block;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        background-color: #24b1c4;
        opacity: 1;
        overflow-y: auto;
        will-change: transform;
        transition: 0.5s;

        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;

            .menu-fix {
                visibility: visible !important;
            }
        }

        a {
            font-family: 'interstate', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
            padding: 8px;
            text-decoration: none;
            font-size: 20px;
            color: white;
            display: block;
            transition: 0.3s;

            &:hover {
                color: #f1f1f1;
                text-shadow: 0 0 3px white;
            }

            :focus {
                color: #f1f1f1;
            }
        }

        .closebtn {
            position: absolute;
            font-size: 40px;
            top: -1%;
            right: 1%;
        }
    }


}